extends layout

block content
  h1= title
  p Welcome to #[em LocalLibrary], a very basic Express website developed as a tutorial example on the Mozilla Developer Network.

  h1 Dynamic Content

  p The library has the following record counts:

  ul
    li #[Strong Books:] !{book_count}
    li #[Strong Copies:] !{book_instance_count}
    li #[Strong Copies Available:] !{book_instance_available_count}
    li #[Strong Authors:] !{author_count}
    li #[Strong Genre:] !{genre_count}

