extends no_sidebar_layout 

block content 
    h1(class='text-center')= title 

    form(method='POST' action='/users/signup' class='flex-fill d-flex flex-column justify-content-center align-items-center gap-3')
        div.form-group.w-25.d-flex.flex-column.gap-1
            label(for="username") Username: 
                input#username.form-control(type='text' placeholder='Your username' name='username' required value=(user===undefined ? '' : user.username))
        div.form-group.w-25.d-flex.flex-column.gap-1
            label(for="password") Password: 
                input#password.form-control(type="text" placeholder='Your password' name='password' required value=(user===undefined ? '' : user.password))
        div.form-group.w-25.d-flex.flex-column.gap-1
            label Profile type: 
            div 
                for user_type in ['member', 'employee'] 
                    div(style='display: inline; padding-right:10px;')
                        input.checkbox-input(type="checkbox" name='user_type' id=user_type value=user_type)
                        label(for=user_type) &nbsp;#{user_type}

        div.employee-form.w-25.d-flex.flex-column.gap-2
            div.form-group.d-flex.flex-column.gap-1
                label(for='name') Full Name:
                    input#name.form-control(type='text' placeholder:'Your first and last name' name='name')
            div.form-group.d-flex.flex-column.gap-1
                label(for='position') Position:
                    select#position(name="position" required) 
                        option(value="") -- Please select your position --
                            each val in ['Librarian', 'Stockist', 'Assistant Manager', 'Branch Manager', 'Global Manager']
                                option(value=val)= val
            div.form-group.d-flex.flex-column.gap-1
                label(for='location') Location: 
                    select#location(name="location" required) 
                        option(value="") -- Please select a location --
                            each val in ['Toronto', 'Vancouver', 'Montreal', 'Calgary', 'Edmonton']
                                option(value=val)= val

        div.member-form.w-25.d-flex.flex-column.gap-2
            div.form-group.d-flex.flex-column.gap-1
                label(for='membership') Membership Type:
                    select#membership(name="membership" required) 
                        option(value="") -- Please select your membership --
                            each val in ['Newcomer', 'Regular', 'Veteran']
                                option(value=val)= val
            div.form-group.d-flex.flex-column.gap-1
                label(for='localBranch') Local Branch: 
                    select#localBranch(name="localBranch" required) 
                        option(value="") -- Please select a branch --
                            each val in ['Toronto', 'Vancouver', 'Montreal', 'Calgary', 'Edmonton']
                                option(value=val)= val
            div.form-group.d-flex.flex-column.gap-1
                label Favorite Genres: 
                div 
                    for genre in genres 
                        div(style='display: inline; padding-right:10px;')
                            if genre.checked
                                input.checkbox-input(type="checkbox" name='genre' id=genre._id value=genre._id checked)
                            else 
                                input.checkbox-input(type="checkbox" name='genre' id=genre._id value=genre._id)
                            label(for=genre._id) #{genre.name}

        button.btn.btn-primary.w-25(type='submit') Submit 

    if errors 
        ul 
            for error in errors 
                li #{error.msg}
